<div class="container">

  <p></p>

  You set the RSVP response to '<%= @response.upcase %>'

  <p></p>

  <table class="table">
    <tr>
      <td>Event:</td>
      <td>
        <a href="/events/<%= @action.event.event_ref %>">
          <%= @action.event.title %> OP<%= @action.period.position %>
        </a>
      </td>
    </tr>
    <tr>
      <td>Message:</td>
      <td><%= @dialog.short_body %> </td>
    </tr>
    <tr>
      <td>Sent:</td>
      <td>from <%= @outbound.author.full_name %> to <%= @outbound.target.full_name %> at <%= @outbound.created_at.strftime("%m-%d %H:%M:%S") %></td>
    </tr>
    <tr>
      <td>RSVP:</td>
      <td><%= @action.query_msg %></td>
    </tr>
  </table>
  <p></p>
  Your current response is <%= @action.current_response_msg(@response) %>
  <p></p>
  Change your response to
  <a href="<%= @action.opposite_link(@outbound, @response) %>">
    <%= @action.alt_response_msg(@response) %>
  </a>
</div>