<table class='table'>
  <thead>
  <tr>
    <th>Issue</th>
    <th>Unread</th>
    <th>Updated</th>
    <th>Status</th>
    <th>Watch</th>
  </tr>
  </thead>
  <tbody>
  <% @topics.each do |topic| %>
    <tr>
      <td>
        <%= link_to topic.title, forum_topic_path(@forum, topic)  %>
      </td>
      <td>
        <%= topic.unread_posts_for(current_membership).count %>
      </td>
      <td>
        <small><%= time_ago_in_words(topic.updated_at) %> ago</small>
      </td>
      <td>
        <%= topic_status_helper(topic) %>
      </td>
      <td>
        <%= topic_subscription_helper(topic) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
