<% content_for :page_js do %>
  <script>
    window.memId    = <%= @memId %>;
    window.pageType = "index";
  </script>
  <%= javascript_include_tag 'topics/all_index' %>
<% end %>

<% content_for :subhead do %>
  <div class='subhead'>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-6'>
          <b><%= link_to "#{current_team.acronym} Forums", "/forums" %> > <%= @forum.name.titleize %> <%=  @forum.type.gsub("Fm",'') %>s</b>
        </div>
        <div class='col-xs-6 text-right'>
          <small>
            <%= link_to "Mark All as Read", "/forums/#{@forum.name}/mark_all" %> |
            <%= link_to "Create New #{topic_label(@forum.type)}", "/forums/#{@forum.name}/new" %>
          </small>
          <%= member_help_button('forums') %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class='container'>

  <div class="row">
    <div class="col-sm-12">

      <%= render :partial => topic_table_for(@forum) %>

    </div>
  </div>

</div>