<% content_for :subhead do %>
  <div class='subhead'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-6'>
          <b>
            <%= link_to "#{current_team.acronym} Forums", "/forums" %> >
            <%= link_to "#{@forum.name.titleize} #{@forum.type.gsub("Fm",'')}s", "/forums/#{@forum.name}" %>
          </b>
        </div>
        <div class='col-md-6 text-right'>
          <%= member_help_button('forums') %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class='container'>

  <div class="row">
    <div class="col-md-12">
      Create new Topic<p></p>

      <form action='/forums/<%= @forum.name %>' method='post' role="form">
        <input type="hidden" name="authenticity_token"         value="<%= form_authenticity_token %>" />
        <input type="hidden" name="forum_topic[team_id]"        value="<%= current_team.id %>" />
        <input type="hidden" name="forum_topic[forum_id]"       value="<%= @forum.id %>" />
        <input type="hidden" name="forum_topic[type]"           value="<%= topic_type(@forum) %>" />
        <div class="form-group">
          <label for="topic_title">Topic Title</label>
          <input id="topic_title" class='form-control' type="text" name="forum_topic[title]" >
        </div>
        <div class='form-group'>
          <label for="topic_text">Initial Post</label>
          <textarea id='topic_text' rows="4" name='forum_topic[initial_post]' class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Create</button>
        <%= link_to "Cancel", :back, :class => "btn ml-15" %>
      </form>

    </div>
  </div>

</div>