Welcome {{first_name}}!!

<table class="table table-condensed table-bordered">
  <tr><td>User Name</td><td>{{user_name}}</td></tr>
  <tr><td>User Id</td><td>{{user_id}}</td></tr>
  <tr><td>Team Acronym</td><td>{{team_acronym}}</td></tr>
  <tr><td>Member Rank</td><td>{{member_rank}}</td></tr>
  <tr><td>Member Roles</td><td>{{member_roles}}</td></tr>
  <tr><td>Member Rights</td><td>{{member_rights}}</td></tr>
</table>