---
_context_type: "Rep::Ctx::Base"
grass_color: purple
---
This is the base template.

<div id="template">
  <p></p>
  The grass color is {{alt.grass_color}}
  <p></p>
  Current Member: {{member.first_name}} {{member.last_name}} ({{member.user_name}})
  <p></p>
  <b>Team Data</b><br/>
  TeamID: {{team.id}}<br/>
  TeamName: {{team.name}}<br/>
  TeamAcronym: {{team.acronym}}
</div>

<div id="target">loading...</div>