<li>
  <a href="/"><i class="fa fa-home"></i> Home</a>
</li>
<li class="dropdown">
  <a href="#" id="navDrop" class="dropdown-toggle active" data-toggle="dropdown"><i class="fa fa-calendar-check-o"></i> Event <b class="fa fa-caret-down"></b></a>
  <ul id='userDrop' class="dropdown-menu pull-right" role="menu">
    <li><a href="/events/new"><i class="fa fa-pencil"></i> Create new event</a></li>
    <li><a href="/events"><i class="fa fa-calendar"></i> Current events</a></li>
    <li><a href="/events"><i class="fa fa-calendar"></i> All events</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="#" id="navDrop" class="dropdown-toggle active" data-toggle="dropdown">
    <i class="fa fa-users"></i> Team <b class="fa fa-caret-down"></b></a>
  <ul id='userDrop' class="dropdown-menu pull-right" role="menu">
    <li><a href="/members"><i class="fa fa-address-book"></i> Roster</a></li>
    <li><a href="/avail/days"><i class="fa fa-calendar"></i> Availability</a></li>
    <li><a href="/quals"><i class="fa fa-certificate"></i> Certifications</a></li>
    <li><a href="/members/photos"><i class="fa fa-camera-retro"></i> Member photos</a></li>
    <li><a href="/paging/new"><i class="fa fa-camera-retro"></i> Page team</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="#" id="navDrop" class="dropdown-toggle active" data-toggle="dropdown">
    <i class="fa fa-book"></i> Library <b class="fa fa-caret-down"></b>
  </a>
  <ul id='userDrop' class="dropdown-menu pull-right" role="menu">
    <li><a href="/reports"><i class="fa fa-file-text"></i> Reports</a></li>
    <li><a href="http://wiki.bamru.net/?username=Craig.Taylor"><i class="fa fa-wikipedia-w"></i> Wiki</a></li>
    <li><a href="https://groups.yahoo.com/neo/groups/BAMRU/info"><i class="fa fa-yahoo"></i> Forum posts</a></li>
    <li><a href="/zcst/wip"><i class="fa fa-upload"></i> Files</a></li>
    <li><a href="/zcst/wip"><i class="fa fa-calendar"></i> Quarterly DO schedule</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="#" id="navDrop" class="dropdown-toggle active" data-toggle="dropdown">
    <i class="fa fa-bolt"></i> Action <b class="fa fa-caret-down"></b></a>
  <ul id='userDrop' class="dropdown-menu pull-right" role="menu">
    <li><a href="/zcst/initiate_callout"><i class="fa fa-bolt"></i> Initiate a callout</a></li>
    <li><a href="/zcst/become_do"><i class="fa fa-bolt"></i> Becoming DO</a></li>
    <li><a href="/zcst/temp_do"><i class="fa fa-bolt"></i> Temporary DO change</a></li>
    <li><a href="/admin"><i class="fa fa-edit"></i> Perform admin tasks</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="#" id="navDrop" class="dropdown-toggle active" data-toggle="dropdown">
    <i class="fa fa-user-circle"></i> <%= current_user.user_name %> <b class="fa fa-caret-down"></b></a>
  <ul id='userDrop' class="dropdown-menu pull-right" role="menu">
    <li><a href="/zcst/react0"><i class="fa fa-envelope-open-o"></i> Inbox (n)</a></li>
    <li><a href="/avail/days/<%= current_user.user_name %>"><i class="fa fa-calendar"></i> Busy periods</a></li>
    <li><a href="/members/<%= current_user.user_name %>"><i class="fa fa-certificate"></i> Certifications</a></li>
    <li><a href="/members/<%= current_user.user_name %>"><i class="fa fa-cogs"></i> settings</a></li>
    <%= raw NavBarSvc.team_nav(current_user, current_team, request.env) %>
    <li><a href="/logout"><i class='fa fa-sign-out'></i> log out</a></li>
  </ul>
</li>